*.swp
.*.swp
.DS_Store
.agignore
.sass-cache/
.swp
/.bundle
/.idea/
/bin
/config/local_env.yml
/db/*.sqlite3
/log/*.log
/public/reports
/tmp
bin
config/database.yml
db/*.sqlite3
log/*.log
pdfs/*
public/assets/
public/system
public/system/*
tmp/**/*